<h1 class="inicio"><u>CUESTIONARIO</u></h1>
<div> 
  <form [formGroup]="cuestionario" (ngSubmit)="guardar()"> 
     
    <fieldset class="ladoIz"> 
        <legend>Pregunta</legend> 
        <p>
          {{ Pregunta1 }} 
        </p> 
      <div>
        <input 
        type="radio" 
        id="No"
        name="res1"
        value="No Mucho"
        formControlName="res1"
        >
        <label for="No">No Mucho</label>
      </div>

      <div>
        <input 
        type="radio" 
        id="Av"
        name="res1"
        value="Aveces"
        formControlName="res1"
        >
        <label for="Av">Aveces</label>
      </div>

      <div>
        <input 
        type="radio" 
        id="Si"
        name="res1"
        value="Siempre"
        formControlName="res1"
        >
        <label for="Si">Siempre</label>
      </div>
    </fieldset>

   <fieldset class="ladoIz">
    <legend>Pregunta</legend>
    <p>  
      {{ Pregunta2 }}
    </p>

    <div>
      <input 
      type="radio" 
      id="Rj"
      name="res2"
      value="Rojo"
      formControlName="res2"
      >
      <label for="Rj">Rojo</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Al"
      name="res2"
      value="Azul"
      formControlName="res2"
      >
      <label for="Al">Azul</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Ng"
      name="res2"
      value="Negro"
      formControlName="res2"
      >
      <label for="Ng">Negro</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Nin"
      name="res2"
      value="Ninguno"
      formControlName="res2"
      >
      <label for="Nin">Ninguno</label>
    </div>
   </fieldset>

   <fieldset class="ladoIz">
    <legend>Pregunta</legend>
    <p>
      {{ Pregunta3 }}
    </p>

    <div>
      <input 
      type="radio" 
      id="Negris"
      name="res3"
      value="Negro"
      formControlName="res3"
      >
      <label for="Negris">Negro</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Blue"
      name="res3"
      value="Azul"
      formControlName="res3"
      >
      <label for="Blue">Azul</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Cf"
      name="res13"
      value="Cafe"
      formControlName="res3"
      >
      <label for="Cf">Cafe</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Bo"
      name="res3"
      value="Blanco"
      formControlName="res3"
      >
      <label for="Bo">Blanco</label>
    </div>
   </fieldset> 
   <div class="derecha">

   <fieldset class="ladode">
    <legend>Pregunta</legend>
    <p>
      {{ Pregunta4 }}
    </p>
    <div>
      <input 
      type="radio" 
      id="kp"
      name="res4"
      value="1 kilo de plumas"
      formControlName="res4"
      >
      <label for="kp">1 kilo de plumas</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="ko"
      name="res4"
      value="1 kilo de oro"
      formControlName="res4"
      >
      <label for="ko">1 kilo de oro</label>
    </div>
    <div>
      <input 
      type="radio" 
      id="Ngo"
      name="res4"
      value="Ninguno"
      formControlName="res4"
      >
      <label for="Ngo">Ninguno</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="Ss"
      name="res4"
      value="Son iguales"
      formControlName="res4"
      >
      <label for="Ss">Son iguales</label>
    </div>

    
   </fieldset>

  </div>
    <div class="derecha">
   <fieldset class="ladode">
    <legend>Pregunta</legend>

    <p>
      {{ Pregunta5 }}
    </p>
    <div>
      <input 
      type="radio" 
      id="3d"
      name="res5"
      value="3 Dedos"
      formControlName="res5"
      >
      <label for="3d">3 Dedos</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="2d"
      name="res5"
      value="2 Dedos"
      formControlName="res5"
      >
      <label for="2d">2 Dedos</label>
    </div>

    <div>
      <input 
      type="radio" 
      id="4d"
      name="res5"
      value="4 Dedos"
      formControlName="res5"
      >
      <label for="4d">4 Dedos</label>
    </div>
   </fieldset> 
  </div>

  <div class="ladode">
    <input type="checkbox"
    id="aceptar"
    name="aceptar"
    FormControlName="aceptar"
    >
    <label for="aceptar">Usted acepta que esta respondiendo con sinseridad las  siguientes preguntas</label>
  </div>

    <button type="submit" class="btn" >Guardar</button> 
  </form>
</div>

  
