.inicio{
  text-align: center;
}
.ladoIz{
  display:block;
  padding: 10px;
  margin: 5px;
  width: 350px;

  
}

.ladode{
  width: 350px;

  
  
 
  
}

.btn{
  
  background-color: aqua;
  float: inline-end;
}

.derecha{
  float: right;
  height: 35px; 
  bottom: 50px;

}